
/*   .cont{
    color:blue;
    font-style: arial;
    width:80%;
    margin:auto;
    line-height: 1.4em;
}
a:hover{
    color:red;
}
a.active{
    color:green;
}

h1{
    
        font-size: 70px;
        width:500px;
        height:500px;
        border:1px solid red;
        margin-top: 10px;
} */

.sub{
    font-display:bold;
    color:aliceblue;
    font-size:15px;
    margin:0.5em;
    height:35px;
    width:110px;
    border:none;
    background-color: rgb(200,0,0);
    padding:5px;
    cursor:pointer;
    border-radius: 4px;
}
.sub:hover{
    background-color: yellow;
}
.sub:active{
    background-color: white;
}
.jo{
    font-display: bold;
    color:rgb(41, 118, 211);
    border:2px solid rgb(41, 118, 211);
    background-color:white;
    height:35px;
    width:55px;
    font-weight: 150px;
    cursor:pointer;
    border-radius: 3px;
    margin-right: 0.5em;
    transition:background-color 0.5s,
    color 1s;
} 
.jo:hover{
    background-color:  rgb(41, 118, 211);
    color:white;
}
.tw{
    font-display:bold;
    color:white;
    background-color:rgb(41, 118, 211);
    border:none;
    height:35px;
    width:100px;
    border-radius: 15px;
    cursor: pointer;
    transition:box-shadow 5s;
}
.tw:hover{
    box-shadow: 5px 5px rgb(200,0,0);
}


.request-button{
    margin:5px;
    color:white;
    background-color: black;
    border:none;
    height:25px;
    width:110px;
    padding-top: 10px;
    padding-bottom: 25px;
    cursor:pointer;
}
.request-button:hover{
    background-color:white;
    box-shadow:5px 5px rgb(200,0,0);
}

.addtocart-button{
    margin:5px;
    color:black;
    background-color:rgb(255,216,20);
    border:none;
    height: 25px;
    width:200px;
    padding-top: 8px;
    padding-bottom: 22px;
    border-radius:15px;
    cursor:pointer;
}
.addtocart-button:hover{
    background-color: aqua;
    box-shadow:5px 5px black;

}

.website-button{
    color:white;
    background-color: rgb(10,104,192);
    border:none;
    height:25px;
    margin-left: 5px;
    width:200px;
    padding-top: 10px;
    padding-bottom:22px;
    border-radius:15px;
    cursor:pointer;
}
.save-button{
    color:rgb(10,104,192);
    background-color:white;
    border:1px solid rgb(10,104,192);
    margin-left: 2px;
    border-radius:15px;
    height:27px;
    width:80px;
    cursor:pointer;
}